.profile_wrapper {
	margin: 0 auto;
	padding: 10px 20px;
	max-width: 850px;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.profile_header_wrapper {
	padding-bottom: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile_heading {
	font-size: 46px;
	font-weight: 600;
	color: #000;
}

.profile_inputs_wrapper {
	margin: 0 auto;
	padding: 15px;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 15px;

	border-radius: 15px;
	border: 1px solid lightslategray;
}

.inputs_wrapper {
	width: 100%;

	display: flex;
	gap: 20px;
}

.horizontal_line {
	background-color: #000;
	height: 1px;
	width: 100%;
}

.title {
	width: 100%;
	text-align: left;
	font-size: 24px;
}

.profile_input {
	width: 100%;
}

.education_inputs_wrapper {
	padding: 0 0 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	border-bottom: 1px solid lightslategrey;
}

.experience_inputs_wrapper {
	padding: 0 0 20px;
	width: 100%;

	display: flex;
	gap: 20px;
	border-bottom: 1px solid lightslategrey;
}

.education_input {
	width: 50%;
}

.add_button {
	padding: 10px 20px;
	width: fit-content;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	border-radius: 7px;
	cursor: pointer;
}

.save_button_wrapper {
	padding-top: 20px;
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid lightslategray;
}

.info_wrapper {
	width: 100%;
	display: flex;
}

.info_text {
	width: 50%;
	font-size: 18px;
	color: #222c7c;
	font-weight: 600;
	text-align: left;
}

.education_wrapper {
	margin-top: 10px;
	padding-top: 10px;
	width: 100%;
	border-top: 1px solid lightslategray;
}
